:root {
    --primary: #b6895b;
    --bg-primary: #010101;
}

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-primary);
    color: #fff;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7%;
    background-color: #010101;
    border-bottom: 1px solid #513c28;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;

}

.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ec0808;
}

.navbar .navbar-logo span {
    color: var(--primary);
    font-style: italic;
}

/*-- color mid nav --*/
.navbar .navbar-nav a {
    color: hwb(18 7% 1%);
    display: inline-block;
    font-size: 1.3rem;
    margin: 0 1rem;

}
/*-- responsif color nav --*/
.navbar .navbar-nav a:hover {
    color: var(--primary);

}

/*-- underline --*/
.navbar .navbar-nav a::after {
    content: '';
    display: block;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

/*-- responsif  underline after click -- */
.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

/*-- color icon --*/
.navbar .navbar-extra a {
    color: hwb(18 7% 1%);
    margin: 0.5rem;
}

/*-- transition color-icon-- */
.navbar .navbar-extra a:hover {
    color: var(--primary);

}

/*-- menghilangkan icon-menu saat tampilan dekstop -- */
#menu {
    display: none;

}

/*navbar search*/
.navbar .search-form {
    position: absolute;
    top: 100%;
    right: 7%;
    background-color: #fff;
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
}

.navbar .search-form.active {
    transform: scaleY(1);
}
.navbar .search-form input {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color: var(--bg-primary);
    padding: 1rem;
}

.navbar .search-form label {
    cursor: pointer;
    font-size: 2rem;
    margin-right: 1.5rem;
    color: var(--bg-primary);
}
/*hero section*/
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../PNG/pikopi.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/*gradasi garis*/
.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(1, 1, 3, 1) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;
}

.hero .content h1 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1.2;
}

/*h1*/
.hero .content h1 span {
    color: var(--primary);
}

/*paragraf*/
.hero .content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    mix-blend-mode: difference;
}

.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #fff;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 3px rgba(1, 1, 3, 0.5);
    cursor: pointer;
}

/*ABOUT SECTION*/
.about,
.Menu, 
.contact {
    padding: 8rem 7% 1.4rem;
}

.about h2, 
.Menu h2, 
.contact h2 {
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span, 
.Menu h2 span, 
.contact h2 span {
    color: var(--primary);
}

/*flex=mengatur posisi*/
.about .row {
    display: flex;
}

.about .row .about-img {
    flex: 1 1 45rem;
}

.about .row .about-img  img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;

}

.about .row .content p {
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1,6;
}

/*menu section*/
.Menu h2 {
    margin-bottom: 1rem;
}
.Menu p, .contact p {
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.6;
}

.Menu .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: center;
}

.Menu .row .Menu-card {
    text-align: center;
    padding-bottom: 4rem;
}

.Menu .row .Menu-card img {
    border-radius: 50%;
    width: 80%;
}

.Menu .row .Menu-card .Menu-card-title {
    margin-top: 1rem auto 1rem;
}

/*contact section*/
.contact .row {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
}

.contact .row .map {
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}

.contact .row form {
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form .input-group {
    display: flex;
    align-items: center;
    margin-top: 2rem;        
    background-color: var(--bg-primary);
    border: 1px solid #eee;
    padding-left: 2rem;
}

.contact .row form .input-group input {
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    background: none;
    color: #fff;
}

.contact .row form .btn {
    margin-top: 3rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--primary);
    cursor: pointer;
}

footer {
    background-color: var(--primary);
    text-align: center;
    padding: 1rem 0 2rem;
    margin-top: 3rem;
}

footer .socials {
    padding: 1rem 0;

}
footer .socials a {
    color: #fff;
    margin: 1rem;
}

footer .socials a:hover, 
footer .links a:hover {
    color: var(--bg-primary);
}

footer .links {
    padding-bottom: 1.4rem;
}

footer .links a {
    color: #fff;
    padding: 0.7rem 1rem;
}

footer .credit {
    font-size: 0.8rem;
}

footer .credit a {
    color: var(--bg-primary);
    font-weight: 700;
}

/*-- media Quaries --*/


/*leptop*/
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}

/*tablet*/
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
    /*memunculan menu saat tampilan tablet*/
    #menu {
        display: inline-block;
    }

    .navbar .navbar-nav {
        position:absolute;
        top: 100%;
        right: -100%;
        background-color: #fff;
        width: 30rem;
        height: 100vh;
        /*setelah connect jvscript*/
        transition: 0.3s;
    }

    .navbar .navbar-nav.active {
        right: 0;
    }

    /* merapihkan kebawah saat menu diklick*/
    .navbar .navbar-nav a {
        color: var(--bg-primary);
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    /* merapihkan transisi garis bawah pada saat icon menu diclick */
    .navbar .navbar-nav a::after {
        transform-origin: 0 0;
    }

    /* menggatur ukuran transisi garis bawah */
    .navbar .navbar-nav a:hover::after{
        transform: scaleX(0.3);
    }

    /*mengatur posisi gambar dan text*/
    .about .row {
        flex-wrap: wrap;
    }
    .about .row .about-img img {
        height: 24rem;
        /*mengatur objek gambar*/
        object-fit: cover;
        object-position: center;
    }

    .about .row .content h3 {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .about .row .content p {
        font-size: 1.6rem;
    }
    .Menu p {
        font-size: 1.2rem;
    }
    .contact .row {
        flex-wrap: wrap;
    }
    
    .contact .row .map {
        height: 30rem;
    }

    .contact .row form {
        padding-top: 0;
    }
}


/*mobile phone*/
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}